---
layout: page
theme:
  name: twitter
title : Archive
header : Post Archive
group: navigation
---
{% include JB/setup %}

<nav>
  <ul>
    <li><a href="#external-posts">External Blog Posts (last: 2019)</a></li>
    <li><a href="#blog-posts">Posts on This Blog (last: 2018)</a></li>
    <li><a href="#talks">Talks &amp; Workshops (last: 2019)</a></li>
    <li><a href="#open-source">Open Source</a></li>
    <li><a href="#job-searches">Job Searches</a></li>
  </ul>
</nav>

<hr />
<h2 id="external-posts">External Blog Posts</h2>
<h3>2021</h3>
<ul>
  <li>Malt : <a href="https://medium.com/nerds-malt/supporting-a-product-team-reorg-with-a-code-reorg-24639aae8ddf">Supporting a product team reorg with a code reorg</a></li>
</ul>
<h3>2020</h3>
<ul>
  <li>Malt : <a href="https://medium.com/nerds-malt/a-tale-of-calling-an-external-service-51442115b362">A tale of calling an external service</a></li>
</ul>
<h3>2019</h3>
<ul>
  <li>Malt : <a href="https://medium.com/nerds-malt/just-a-minor-upgrade-f6cd41dc6005">Just a minor upgrade</a></li>
</ul>
<h3>2018</h3>
<ul>
  <li>Malt : <a href="https://medium.com/malt-community/si-loin-de-toi-f7d5c725d372">Si loin de toi...</a> (à propos des équipes distribuées)</li>
</ul>
<h3>2017</h3>
<ul>
  <li>Malt (ex-Hopwork) : <a href="https://medium.com/nerds-malt/adoptons-nos-erreurs-fd99315bf7ea">Adoptons nos erreurs</a></li>
  <li>Malt (ex-Hopwork) : <a href="https://medium.com/nerds-malt/pub-sub-facile-avec-rabbitmq-et-spring-boot-e03b943beefa">Pub/sub facile avec RabbitMQ et Spring Boot</a></li>
</ul>
<h3>2016</h3>
<ul>
  <li>Malt (ex-Hopwork) : <a href="https://medium.com/nerds-malt/vues-tout-terrain-avec-handlebars-7a70b3581c32">Vues Tout Terrain avec Handlebars</a></li>
  <li>Malt (ex-Hopwork) : <a href="https://medium.com/nerds-malt/tester-un-composant-d%C3%A9fini-en-jsp-javascript-55775eafb65">Tester un composant défini en JSP + JavaScript</a></li>
  <li>Malt (ex-Hopwork) : <a href="https://medium.com/nerds-malt/les-d%C3%A9fis-du-progressive-enhancement-91acbfafd313">Les défis du “progressive enhancement”</a></li>
  <li>Malt (ex-Hopwork) : <a href="https://medium.com/nerds-malt/critical-css-pour-quelques-millisecondes-de-moins-abc382f88b3b">Critical CSS : Pour quelques millisecondes de moins</a></li>
</ul>
<h3>2013</h3>
<ul>
  <li>Xebia : <a href="http://open.arkoon.net/aoc/blog/blog/archives/simplifiez-vous-l-admin-grace-a-ansible">Simplifiez-vous l'admin grâce à Ansible</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2013/01/22/craftsman-recipes-simuler-le-temps/">Craftsman Recipes - Simuler le temps</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2013/01/14/craftsman-recipes-de-lart-de-bien-nommer-les-concepts/">Craftsman Recipes - De l'art de bien nommer les concepts</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2013/01/14/craftsman-recipes/">Craftsman Recipes</a></li>
</ul>
<h3>2012</h3>
<ul>
  <li>Xebia : <a href="http://blog.xebia.fr/2012/07/19/extreme-startup-chez-xebia/">Extreme Startup</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2012/04/12/javascript-core-par-nicolas-demengel-et-francois-sarradin/">JavaScript Core</a></li>
  <li>Revues de presse Xebia : <a href="http://blog.xebia.fr/2012/02/07/revue-de-presse-xebia-2012-06">7 février</a>, <a href="http://blog.xebia.fr/2012/07/03/revue-de-presse-xebia-2012-27/">3 juillet</a>, <a href="http://blog.xebia.fr/2012/07/24/revue-de-presse-xebia-2012-30">24 juillet</a></li>
</ul>
<h3>2011</h3>
<ul>
  <li>Xebia : <a href="http://blog.xebia.fr/2011/09/15/paradigmes-de-programmation-par-nicolas-demengel/">Paradigmes de programmation</a></li>
</ul>
<h3>2010</h3>
<ul>
  <li>Xebia : <a href="http://blog.xebia.fr/2010/12/29/utiliser-guice-et-peaberry-pour-developper-un-plugin-eclipse/">Utiliser Guice et Peaberry pour développer un plugin Eclipse</a></li>
</ul>

<hr />
<a name="blog-posts"></a>
<h2 id="external-posts">Posts on This Blog</h2>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}



<hr />
<h2 id="talks">Talks &amp; Workshops</h2>
<h3>2019</h3>
<ul>
  <li>DDD Lyon : <a href="https://www.meetup.com/fr-FR/Software-Craftsmanship-Lyon/events/261824797/">REX Architecture hexagonale</a></li>
</ul>
<h3>2018</h3>
<ul>
  <li>MadridJS<a href="https://www.meetup.com/fr-FR/madridjs/events/255232022/">Vue.js in production (How Malt builds Malt)</a></li>
</ul>
<h3>2017</h3>
<ul>
  <li>Human Talks Lyon : <a href="https://humantalks.com/talks/1100-tout-changer-sans-rien-peter">Tout changer sans rien péter</a></li>
</ul>
<h3>2015</h3>
<ul>
  <li>Human Talks Lyon : <a href="https://humantalks.com/talks/726-templating-cote-serveur-et-tests-de-composants-fro">Templating côté serveur et tests de composants front JS : l'impossible amour ?</a></li>
  <li>Human Talks Lyon : <a href="http://humantalks.com/talks/648-les-tests-de-non-reg-du-pauvre">Les tests de non-reg du pauvre</a></li>
</ul>
<h3>2014</h3>
<ul>
  <li>Human Talks Lyon : <a href="http://humantalks.com/talks/346-dev-ops-retour-d-experience">Dev => Ops : Retour d'expérience</a></li>
</ul>
<h3>2012</h3>
<ul>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2012/07/19/extreme-startup-chez-xebia/">Extreme Startup</a></li>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2012/04/12/javascript-core-par-nicolas-demengel-et-francois-sarradin/">JavaScript Core</a></li>
</ul>
<h3>2011</h3>
<ul>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2011/09/15/paradigmes-de-programmation-par-nicolas-demengel/">Paradigmes de programmation</a></li>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2011/01/07/retrospective-de-notre-xke-de-janvier/">Développer un plugin pour Eclipse</a></li>
</ul>

<hr />
<h2 id="open-source">Open Source</h2>
<ul>
  <li>Author of <a href="https://github.com/MoreUnit/org.moreunit.intellij.plugin">MoreUnit for IntelliJ</a></li>
  <li>Core maintainer of <a href="https://moreunit.github.io/MoreUnit-Eclipse/">MoreUnit for Eclipse</a> from 2010 to 2017</li>
</ul>

<hr />
<h2 id="job-searches">Job Searches</h2>

<ul>
  <li><a href="/archives/job/2013.html">December 2012</a></li>
</ul>
