---
layout: page
theme:
  name: twitter
title : Archive
header : Post Archive
group: navigation
---
{% include JB/setup %}

<nav>
  <ul>
    <li><a href="#blog-posts">Blog Posts</a></li>
    <li><a href="#external-posts">External Blog Posts</a></li>
    <li><a href="#talks">Talks &amp; Workshops</a></li>
    <li><a href="#job-searches">Job Searches</a></li>
  </ul>
</nav>
<hr />
<a name="blog-posts"></a>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}


<hr />
<h2 id="external-posts">External Blog Posts</h2>
<h3>2016</h3>
<ul>
  <li>Hopwork : <a href="https://inside.hopwork.com/vues-tout-terrain-avec-handlebars/">Vues Tout Terrain avec Handlebars</a></li>
  <li>Hopwork : <a href="https://inside.hopwork.com/tester-compsant-jsp-javascript/">Tester un composant défini en JSP + JavaScript</a></li>
  <li>Hopwork : <a href="https://inside.hopwork.com/les-defis-du-progressive-enhancement/">Les défis du “progressive enhancement”</a></li>
  <li>Hopwork : <a href="https://inside.hopwork.com/pour-quelques-millisecondes-de-moins/">Critical CSS : Pour quelques millisecondes de moins</a></li>
</ul>
<h3>2013</h3>
<ul>
  <li>Xebia : <a href="http://open.arkoon.net/aoc/blog/blog/archives/simplifiez-vous-l-admin-grace-a-ansible">Simplifiez-vous l'admin grâce à Ansible</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2013/01/22/craftsman-recipes-simuler-le-temps/">Craftsman Recipes - Simuler le temps</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2013/01/14/craftsman-recipes-de-lart-de-bien-nommer-les-concepts/">Craftsman Recipes - De l'art de bien nommer les concepts</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2013/01/14/craftsman-recipes/">Craftsman Recipes</a></li>
</ul>
<h3>2012</h3>
<ul>
  <li>Xebia : <a href="http://blog.xebia.fr/2012/07/19/extreme-startup-chez-xebia/">Extreme Startup</a></li>
  <li>Xebia : <a href="http://blog.xebia.fr/2012/04/12/javascript-core-par-nicolas-demengel-et-francois-sarradin/">JavaScript Core</a></li>
  <li>Revues de presse Xebia : <a href="http://blog.xebia.fr/2012/02/07/revue-de-presse-xebia-2012-06">7 février</a>, <a href="http://blog.xebia.fr/2012/07/03/revue-de-presse-xebia-2012-27/">3 juillet</a>, <a href="http://blog.xebia.fr/2012/07/24/revue-de-presse-xebia-2012-30">24 juillet</a></li>
</ul>
<h3>2011</h3>
<ul>
  <li>Xebia : <a href="http://blog.xebia.fr/2011/09/15/paradigmes-de-programmation-par-nicolas-demengel/">Paradigmes de programmation</a></li>
</ul>
<h3>2010</h3>
<ul>
  <li>Xebia : <a href="http://blog.xebia.fr/2010/12/29/utiliser-guice-et-peaberry-pour-developper-un-plugin-eclipse/">Utiliser Guice et Peaberry pour développer un plugin Eclipse</a></li>
</ul>

<hr />
<h2 id="talks">Talks &amp; Workshops</h2>
<h3>2015</h3>
<ul>
  <li>Human Talks Lyon : <a href="http://humantalks.com/talks/648-les-tests-de-non-reg-du-pauvre">Les tests de non-reg du pauvre</a></li>
</ul>
<h3>2014</h3>
<ul>
  <li>Human Talks Lyon : <a href="http://humantalks.com/talks/346-dev-ops-retour-d-experience">Dev => Ops : Retour d'expérience</a></li>
</ul>
<h3>2012</h3>
<ul>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2012/07/19/extreme-startup-chez-xebia/">Extreme Startup</a></li>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2012/04/12/javascript-core-par-nicolas-demengel-et-francois-sarradin/">JavaScript Core</a></li>
</ul>
<h3>2011</h3>
<ul>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2011/09/15/paradigmes-de-programmation-par-nicolas-demengel/">Paradigmes de programmation</a></li>
  <li>Xebia Knowledge Exchange : <a href="http://blog.xebia.fr/2011/01/07/retrospective-de-notre-xke-de-janvier/">Développer un plugin pour Eclipse</a></li>
</ul>

<hr />
<h2 id="job-searches">Job Searches</h2>

<ul>
  <li><a href="/archives/job/2013.html">December 2012</a></li>
</ul>
