body {
	margin: 0 auto;
	width: 800px;
	color: #4C4C4C;
	font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
	color: black;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
}

a {
	color: #8C8C8C;
	text-decoration: none;
	outline: 0;
}

a:visited {
	color: #ACACAC;
}

a:focus,a:hover {
	color: #CCCCCC;
}

body h1 {
	-moz-text-shadow: #ACACAC 2px 2px 3px;
	-webkit-text-shadow: #ACACAC 2px 2px 3px;
	-o-text-shadow: #ACACAC 2px 2px 3px;
	-ms-text-shadow: #ACACAC 2px 2px 3px;
	text-shadow: #ACACAC 2px 2px 3px;
}

#logo {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

#content article {
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 15px;
}

#content section h1 {
	font-size: 1.6em;
}

#content section h2 {
	font-size: 1.4em;
}

#content section h3 {
	font-size: 1.2em;
}

#content section p {
	text-align: justify;
}

@media only screen and (max-width: 799px) {
  body {
    width: auto;
    margin: 2em;
  }

  body>header {
    position: relative;
    top: 0;
    left: 0;
    width: 260px;
    height: 280px;
    margin: auto;
    text-align: center;
  }

  #logo {
    top: auto;
    left: 25px;
    right: none;
    zoom: 80%
    margin: 2em auto;
  }

  #content {
    position: static;
    top: auto;
    width: auto;
    bottom: auto;
    overflow: visible;
    z-index: auto;
  }
}
